<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>JustPost.</title>
</head>
<body class="bg-zinc-100">
    <div class="copy-notice lg:w-96 w-11/12 lg:h-20 h-14 bg-black opacity-80 fixed z-10 bottom-9 left-2/4 transform -translate-x-1/2 flex gap-2 justify-center items-center rounded-xl drop-shadow-lg invisible">
        <h1 class="text-white font-medium lg:text-2xl text-xl">Post link copied to clipboard</h1>
        
    </div>

    <!-- navbar -->
   <Nav>
    <div class="w-full min-h-20 bg-white drop-shadow-md flex p-3 gap-3 justify-between flex-col md:flex-row items-center">
        <h1 class="uppercase font-black text-4xl">justpost<span class="text-orange-500">.</span></h1>


        <div class="lg:ml-28">
            <ul class="flex md:gap-32 gap-16 text-2xl font-medium">
                <a href="/">
                    <li class="hover:bg-zinc-100 px-6 border-zinc-200  border-b-2 py-2 cursor-pointer"><img src="/home-sel.png" class="w-9" alt=""></li>
                </a>
                <a href="/profile">
                    <li class="hover:bg-zinc-100 px-6  py-2 cursor-pointer"><img src="/user.png" class="w-9" alt=""></li>
                </a>
                <a href="/logout">
                    <li class="hover:bg-zinc-100 px-6  py-2 cursor-pointer"><img src="/sign-out.png" class="w-9" alt=""></li>
                </a>
            </ul>
        </div>

        <div class="gap-5 items-center hidden md:flex">
            <div class="searchbar"><input type="search" class="border-2 border-zinc-300 py-2 px-3 rounded-full outline-none w-64" placeholder="Search posts"></div>
           <div class="profile">
                <div class="w-16 h-16 bg-black rounded-full overflow-hidden"> <img src="/uploads/<%= user.profilePic %>" class="object-cover w-full h-full" alt=""></div>
            </div> 
            
        </div>
    </div>
   </Nav>
<!-- navbar -->

   <main class="flex flex-col gap-6 items-center mt-7">
    
    <!--post  write -->
    <div class="write w-11/12 lg:w-2/5 h-60 bg-white drop-shadow-md rounded-xl p-3 flex gap-3 flex-col items-center">
        <div class="flex items-center gap-2 self-start">
            <div class="profile">
                <div class="w-12 h-12 bg-black rounded-full overflow-hidden"> <img src="/uploads/<%= user.profilePic %>" class="w-full h-full object-cover" alt=""></div>
            </div>
            <h2 class="text-xl font-semibold"><%= user.name %></h2>
        </div>
        
        <form class="w-full h-3/4 flex gap-3 flex-col items-center" action="/user/home/post" method="post">
            <textarea name="content" id="userText" class="border-b-2 w-full h-3/4 p-2 text-xl rounded-xl outline-none" placeholder="What's on your mind, <%= user.name %>?"></textarea>
            <button type="submit" class="bg-blue-400 text-white px-11 rounded-3xl text-2xl font-semibold py-2 self-end">Post</button>
        </form>
        
    </div>
    <!--post  write -->
    
    <div class="read w-11/12 lg:w-2/5 min-h-60 bg-transparent drop-shadow-md rounded-xl flex gap-5 flex-col items-center">
        <% posts.reverse().forEach(element => {%>
        
       
        <div class="post bg-white w-full min-h-20 px-3 pt-3 flex flex-col rounded-lg justify-between drop-shadow-sm gap-3">

            <div class="flex items-center gap-2">
                <div class="profile-pic">
                    <div class="w-10 h-10 bg-black rounded-full overflow-hidden"> <img src="/uploads/<%= element.userID.profilePic %>" class="w-full h-full object-cover"  alt=""></div>
                </div>
                <div class="flex flex-col">
                    <a href="/<%=element.userID.username %>">
                        <h2 class="text-lg font-normal text-blue-600"><%= element.autherName %></h2>
                    </a>
                        
                    <h4 class="text-xs"><%= element.date %></h4>
                </div>
            </div>
            <div class="content">
                <p><%= element.content %></p>
                
            </div>
           
            <div class="btns border-t-2 flex justify-between px-4 py-1">
                
                <div class="flex gap-2 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer">
                    <a href="/home/like/<%= element._id %>">
                        <div class=" py-1"> <img src="<%= element.likes.indexOf(user._id) === -1 ? "/like.png" : "/liked.png" %>" class="w-5" alt=""></div>
                    </a>
                    <h4 class="font-thin"><%= element.likes.length %></h4>
                </div>
                <div class="flex gap-2 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer">
                    <a href="/home/react/<%= element._id %>">
                        <div class="  py-2"> <img src="<%= element.hearts.indexOf(user._id) === -1 ? "/love.png" : "/loved.png" %>" class="w-5" alt=""></div>
                    </a>
                    <h4 class="font-thin"><%= element.hearts.length %></h4>
                </div>
                <div class="flex gap-1 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer" onclick="showNote('<%= element._id %>')">
                    <div class="  py-2"> <img src="/share.png" class="w-5" alt=""></div>
                </div>
                
               
               
                
                
            </div>
        </div>
        

        <% }); %>
       
        
    </div>
   </main>

   <script>
    function showNote(id){
    document.querySelector(`.copy-notice`).classList.remove("invisible");
    navigator.clipboard.writeText(`http://localhost:3000/post/${id}`)
    setTimeout(()=>{
        document.querySelector(`.copy-notice`).classList.add("invisible");
    },1000)
   }

   </script>
</body>
</html>