<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>JustPost.</title>
</head>
<body class="bg-zinc-100">
    
    <!-- navbar -->
    <Nav>
        <div class="w-full min-h-20 bg-white drop-shadow-md flex p-3 gap-3 justify-between flex-col md:flex-row items-center">
            <h1 class="uppercase font-black text-4xl">justpost<span class="text-orange-500">.</span></h1>
    
    
            <div class="lg:ml-28">
                <ul class="flex md:gap-32 gap-16 text-2xl font-medium">
                    <a href="/">
                        <li class="hover:bg-zinc-100 px-6  py-2 cursor-pointer"><img src="/home.png" class="w-9" alt=""></li>
                    </a>
                    <a href="/profile">
                        <li class="hover:bg-zinc-100 px-6 border-zinc-200  border-b-2 py-2 cursor-pointer"><img src="/user-sel.png" class="w-9" alt=""></li>
                    </a>
                    <a href="/logout">
                        <li class="hover:bg-zinc-100 px-6  py-2 cursor-pointer"><img src="/sign-out.png" class="w-9" alt=""></li>
                    </a>
                </ul>
            </div>
    
            <div class="gap-5 items-center hidden md:flex">
                <div class="searchbar"><input type="search" class="border-2 border-zinc-300 py-2 px-3 rounded-full outline-none w-64" placeholder="Search posts"></div>
               <div class="profile">
                    <div class="w-16 h-16 bg-black rounded-full overflow-hidden"> <img src="<%= user.profilePic %>" class="object-cover w-full h-full" alt=""></div>
                </div> 
                
            </div>
        </div>
       </Nav>
    <!-- navbar -->

   <main class="flex flex-col gap-6 items-center mt-7">
    <% let totalLikes = 0;
        let totalReacts=0;
        user.posts.forEach(elem=>{
            totalLikes+=elem.likes.length;
            totalReacts+=elem.hearts.length;
        })
        %>

    <div class="copy-notice lg:w-96 w-11/12 lg:h-20 h-14 bg-black opacity-80 fixed z-10 bottom-9 left-2/4 transform -translate-x-1/2 flex gap-2 justify-center items-center rounded-xl drop-shadow-lg invisible">
    <h1 class="text-white font-medium lg:text-2xl text-xl">Post link copied to clipboard</h1>
    
    </div>
    
    <!-- profile pic box -->
    <div class="lg:w-2/5 w-11/12 lg:h-32 h-44 bg-zinc-100 drop-shadow-xl border-2 fixed top-2/4 left-2/4 z-10 transform -translate-x-1/2 -translate-y-1/2 pic-box rounded-xl p-3 flex items-center invisible justify-center"> 
    
    <form class="w-full h-3/4 flex gap-3 items-center flex-col lg:flex-row justify-center" action="/upload/profile/pic"  method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" required>
        <div class="flex gap-4 lg:gap-0">
            <button type="button" class="bg-zinc-50 text-black lg:px-11 px-8 border-2 rounded-3xl text-2xl font-semibold py-2 self-end" onclick="cancelPicBox()">Cancel</button>
            <button type="submit" class="bg-zinc-600 text-white lg:px-11 px-8 rounded-3xl text-2xl font-semibold py-2 self-end">Upload</button>
        </div>
        
    </form>
</div>

    <!-- edit box -->
    <div class="lg:w-2/5 w-11/12 h-80 bg-zinc-100 drop-shadow-xl border-2 fixed top-2/4 left-2/4 z-10 transform -translate-x-1/2 -translate-y-1/2 edit-box rounded-xl p-3 flex gap-3 flex-col items-center invisible"> <div class="flex items-center gap-2 self-start">
        <div class="profile">
            <div class="w-12 h-12 bg-black rounded-full overflow-hidden"> <img src="<%= user.profilePic %>" class="w-full h-full object-cover" alt=""></div>
        </div>
        <h2 class="text-xl font-semibold"><%= user.name %></h2>
    </div>
    
    <form class="w-full h-3/4 flex gap-3 flex-col items-center"  method="post">
        <textarea name="content"  id="edit-area" class="border-b-2 bg-zinc-50 w-full h-4/5 p-2 text-xl rounded-xl outline-none"></textarea>
        <div class="flex gap-4 lg:gap-0">
            <button type="button" class="bg-zinc-50 text-black lg:px-11 px-8 border-2 rounded-3xl text-2xl font-semibold py-2 self-end" onclick="cancelEdit()">Cancel</button>
            <button type="submit" class="bg-blue-400 text-white lg:px-11 px-8 rounded-3xl text-2xl font-semibold py-2 self-end">Update</button>
        </div>
        
    </form>
</div>
    <!-- edit box -->

    <!-- status box -->
    <div class="lg:w-2/5 w-11/12 h-80 bg-zinc-100 drop-shadow-xl border-2 fixed top-2/4 left-2/4 z-20 transform -translate-x-1/2 -translate-y-1/2 status-box rounded-xl p-3 flex gap-3 flex-col items-center invisible"> <div class="flex items-center gap-2 self-start">
        <div class="profile">
            <div class="w-12 h-12 bg-black rounded-full overflow-hidden"> <img src="<%= user.profilePic %>" class="w-full h-full object-cover" alt=""></div>
        </div>
        <h2 class="text-xl font-semibold"><%= user.name %>'s <span class="font-bold">Status</span></h2>
    </div>
    
    <form class="w-full h-3/4 flex gap-3 flex-col items-center" action="/upload/status"  method="post">
        <textarea name="content"  id="edit-area" class="border-b-2 bg-zinc-50 w-full h-4/5 p-2 text-xl rounded-xl outline-none" placeholder="Start writing" required maxlength="100"></textarea>
        <div class="flex gap-4 lg:gap-0">
            <button type="button" class="bg-zinc-50 text-black lg:px-11 px-8 border-2 rounded-3xl text-2xl font-semibold py-2 self-end" onclick="cancelStatusBox()">Cancel</button>
            <button type="submit" class="bg-blue-400 text-white lg:px-11 px-8 rounded-3xl text-2xl font-semibold py-2 self-end">Update</button>
        </div>
        
    </form>
</div>
    <!-- status box absolute left-1/3 top-48 -->

    <!-- profile data -->
    <div class="lg:w-2/5 w-11/12 h-64 drop-shadow-md rounded-xl flex flex-col items-start justify-between relative">
        <div class="w-full h-40 lg:h-48 bg-zinc-900 drop-shadow-md rounded-xl p-3 flex gap-3 items-end justify-center"></div>

        <div class="transform translate-y-1/2 absolute flex items-center gap-3 pl-3 lg:pl-5">

            <div class="lg:w-44 lg:h-44 w-36 h-36 bg-black border-4 border-black rounded-full z-10 overflow-hidden   ">
                <img src="<%= user.profilePic %>" class="w-full h-full object-cover" alt="">
            </div>
            <h1 class="font-bold text-white  text-3xl lg:text-5xl mb-3 lg:mb-6"><%= user.name %><span class="text-orange-500">.</span></h1>
            <div class="lg:w-10 lg:h-10 w-8 h-8 rounded-full bg-zinc-300 border-2 border-zinc-500 flex justify-center items-center  z-20  absolute hover:cursor-pointer left-32 lg:left-40 top-24 lg:top-28" onclick="picBoxClick()">
                <img src="/camera.png" class="lg:w-6 lg:h-6 w-4 h-4" alt="">
            </div>
        </div>
    </div>
    <!-- profile data -->
    
    
    <!-- <div class="write w-2/5 mt-20 h-60 bg-white drop-shadow-md rounded-xl flex items-center flex-wrap">
        
       
    </div> -->

    <div class=" lg:w-2/5 w-11/12 h-96 mt-32 lg:mt-10 flex gap-6 items-center flex-col lg:flex-row justify-center">
        <div class="lg:w-2/4 w-full h-full bg-zinc-200 drop-shadow-md p-3 rounded-xl flex flex-col justify-between ">
            <h2 class="font-bold text-6xl text-black ">Profile Data<span class="text-orange-500">.</span></h2>
            <div class="text-black">
                <h2 class="font-medium text-xl">User Data:</h2>
                <div class="flex gap-5">
                    <div class="flex gap-2 items-center">
                        <div class=" py-1"> <img src="/gender.png" class="w-5" alt=""></div>
                        <h4 class="font-thin"><%= user.gender %></h4>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class=" py-1"> <img src="/calendar.png" class="w-5" alt=""></div>
                        <h4 class="font-thin"><%= user.age %> Yrs old</h4>
                    </div>

                </div>
                <h2 class="font-medium text-xl mt-6">Engagements:</h2>
                <div class="flex gap-5">
                    <div class="flex gap-2 items-center">
                        <div class=" py-1"> <img src="/liked.png" class="w-5" alt=""></div>
                        <h4 class="font-thin"><%= totalLikes %></h4>
                    </div>
                    <div class="flex gap-2 items-center">
                        <div class=" py-1"> <img src="/loved.png" class="w-5" alt=""></div>
                        <h4 class="font-thin"><%= totalReacts %></h4>
                    </div>

                </div>
            </div>
            
            <button class="bg-black  text-white px-3 py-1 text-xl rounded-md font-medium w-32 self-end">Log out<span class="text-orange-500">.</span></button>
         </div>
        <div class="lg:w-2/4 w-full h-full bg-blue-400 drop-shadow-md p-3 rounded-xl flex flex-col justify-between">
           <h2 class="font-bold text-6xl text-white">Featured Status<span class="text-orange-500">.</span></h2>
           <p class="text-white lg:-mt-16 my-6 md:my-1 text-3xl font-thin"><%= user.status %></p>
           <button class="bg-black  text-white px-3 py-1 text-xl rounded-md font-medium w-28 self-end" onclick="StatusBoxClick()">Change<span class="text-orange-500">.</span></button>
        </div>
    </div>

    
    <div class="write lg:w-2/5 w-11/12 lg:mt-6 mt-32 h-60 bg-white drop-shadow-md rounded-xl p-3 flex gap-3 flex-col items-center">
        <div class="flex items-center gap-2 self-start">
            <div class="profile">
                <div class="w-12 h-12 bg-black rounded-full overflow-hidden"> <img src="<%= user.profilePic %>" class="w-full h-full object-cover" alt=""></div>
            </div>
            <h2 class="text-xl font-semibold"><%= user.name %></h2>
        </div>
        
        <form class="w-full h-3/4 flex gap-3 flex-col items-center" action="/user/post" method="post">
            <textarea name="content" id="userText" class="border-b-2 w-full h-3/4 p-2 text-xl rounded-xl outline-none" placeholder="What's on your mind, <%= user.name %>?"></textarea>
            <button type="submit" class="bg-blue-400 text-white px-11 rounded-3xl text-2xl font-semibold py-2 self-end">Post</button>
        </form>
       
        </div>
        
    <div class=" lg:w-2/5 w-11/12 lg:mt-3 lg:h-20 h-12 bg-zinc-900 rounded-xl p-3 flex items-center justify-center">
        <h2 class="font-bold text-white lg:text-3xl text-2xl mb-3 md:mb-0">Your Posts<span class="text-orange-500 text-4xl">.</span></h2>
    </div>

    <div class="read lg:w-2/5 w-11/12 min-h-60 bg-transparent drop-shadow-md rounded-xl flex gap-5 flex-col items-center">
        
        <% user.posts.reverse().forEach(element => {%>
            
            <div class="post bg-white w-full min-h-20 px-3 pt-3 flex flex-col rounded-lg justify-between drop-shadow-sm gap-3" id>
                
                <div class="panel w-36 h-28 bg-zinc-50 absolute drop-shadow-lg self-end hidden hover:cursor-pointer" id="<%= element._id %>">
                   
                        <div class="w-full h-1/3 border-b-2 border-zinc-300 flex items-center font-sans font-medium p-2 hover:bg-zinc-200" onclick="editClick('<%= element._id %>')"><p>Edit post</p></div>
                    
                    <a href="/post/delete/<%= element._id %>">
                        <div class="w-full h-1/3 border-b-2 border-zinc-300 flex items-center font-sans font-medium p-2 hover:bg-zinc-200"><p>Delete post</p></div>
                    </a>
                    
                        <div class="w-full h-1/3  flex items-center font-sans font-medium p-2 hover:bg-zinc-200" onclick="cancelClick('<%= element._id %>')"><p>Cancel</p></div>
                   
                </div>
                <div class="flex items-start gap-2 justify-between">
                    <div class="flex gap-2 items-center">

                        <div class="profile-pic">
                            <div class="w-10 h-10 bg-black rounded-full overflow-hidden"> <img src="<%= user.profilePic %>" class="w-full h-full object-cover"  alt=""></div>
                        </div>
                        <div class="flex flex-col">
                            <h2 class="text-lg font-normal text-blue-600"><%= user.name %></h2>
                            <h4 class="text-xs"><%= element.date %></h4>
                        </div>
                    </div>
                    
                        <div class="w-6 justify-self-end hover:cursor-pointer menu" onclick="menuClick('<%= element._id %>')" > 
                            <img src="/dots.png" class="w-full h-full object-cover"   alt="">
                        </div>
                    
                </div>
                <div class="content">
                    <p><%= element.content %></p>
                    
                </div>
               
                <div class="btns border-t-2 flex justify-between px-4 py-1">
    
                    <div class="flex gap-2 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer">
                        <a href="/like/<%= element._id %>">
                            <div class=" py-1"> <img src="<%= element.likes.indexOf(user._id) === -1 ? "/like.png" : "/liked.png" %>" class="w-5" alt=""></div>
                        </a>
                        <h4 class="font-thin"><%= element.likes.length %></h4>
                    </div>
                    <div class="flex gap-2 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer">
                        <a href="/react/<%= element._id %>">
                            <div class="  py-2"> <img src="<%= element.hearts.indexOf(user._id) === -1 ? "/love.png" : "/loved.png" %>" class="w-5" alt=""></div>
                        </a>
                        <h4 class="font-thin"><%= element.hearts.length %></h4>
                    </div>
                    <div class="flex gap-1 justify-center items-center w-1/3 hover:bg-zinc-100 cursor-pointer" onclick="showNote('<%= element._id %>')">
                        <div class="  py-2"> <img src="/share.png" class="w-5" alt=""></div>
                    </div>
                   
                   
                    
                    
                </div>
            </div>
        <% }); %>

       

    </div>
   </main>
<script>
//    document.querySelector(".read").addEventListener("click",(e)=>{
//     document.getElementById(`${e.target.id}`).classList.remove("hidden");
//     console.log(e.target.id);
//    })

   function menuClick(id){
    document.getElementById(`${id}`).classList.remove("hidden");
   }
   function cancelClick(id){
    document.getElementById(`${id}`).classList.add("hidden");
   }
   async function editClick(id){
    const editBox = document.querySelector(`.edit-box`);
    editBox.classList.remove("invisible");
    
    console.log(id);
    const response = await fetch(`/post/edit/${id}`);
    const data = await response.json();
    console.log(data)
    const textarea = document.getElementById('edit-area');
    if (textarea) {
        textarea.value = data.post.content;
    } else {
        console.error('Textarea element not found');
    }
    editBox.querySelector("form").action=`post/edit/${id}`
   }

   function cancelEdit(){
    document.querySelector(`.edit-box`).classList.add("invisible");
   }
   function picBoxClick(){
    document.querySelector(`.pic-box`).classList.remove("invisible");
   }
   function cancelPicBox(){
    document.querySelector(`.pic-box`).classList.add("invisible");
   }
   function StatusBoxClick(){
    document.querySelector(`.status-box`).classList.remove("invisible");
   }
   function cancelStatusBox(){
    document.querySelector(`.status-box`).classList.add("invisible");
   }

   function showNote(id){
    document.querySelector(`.copy-notice`).classList.remove("invisible");
    navigator.clipboard.writeText(`http://localhost:3000/post/${id}`)
    setTimeout(()=>{
        document.querySelector(`.copy-notice`).classList.add("invisible");
    },1000)
   }
</script>
</body>
</html>